.map-pin-icon11 {
  height: 18px;
  width: 15px;
  position: relative;
  min-height: 18px;
}
.store-location-lincoln-11 {
  position: relative;
  line-height: 16px;
  white-space: pre-wrap;
}
.contact20 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.eng23 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 22px;
}
.group-icon34 {
  height: 3.5px;
  width: 7px;
  position: relative;
}
.eng22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.usd22,
.usd23 {
  align-self: stretch;
}
.usd23 {
  position: relative;
  line-height: 130%;
}
.usd22 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 0;
  gap: var(--gap-7xs);
}
.devider22 {
  height: 16px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--gray-scale-gray-300);
  box-sizing: border-box;
  opacity: 0.52;
}
.div42,
.sign-in20,
.sign-up11 {
  position: relative;
  line-height: 16px;
  display: inline-block;
}
.sign-in20 {
  flex: 1;
  min-width: 40px;
}
.div42,
.sign-up11 {
  min-width: 6px;
}
.sign-up11 {
  flex: 1;
  min-width: 46px;
  white-space: nowrap;
}
.account11 {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--body-tiny-body-tiny-400-size);
  color: var(--gray-scale-gray-300);
  font-family: var(--body-small-body-small-400);
}
.links49,
.small-one11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.links49 {
  width: 175px;
  justify-content: flex-start;
  text-align: center;
}
.small-one11 {
  width: 1920px;
  box-shadow: var(--line-shadow);
  background-color: var(--gray-scale-gray-800);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-281xl);
  box-sizing: border-box;
  max-width: 134%;
  flex-shrink: 0;
}
.plant-1-icon22 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ecobazar22 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 38px;
  font-weight: 500;
}
.logo22 {
  position: absolute;
  top: 27.5px;
  left: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.search-icon11,
.search34 {
  position: relative;
  flex-shrink: 0;
}
.search-icon11 {
  height: 20px;
  width: 20px;
  overflow: hidden;
}
.search34 {
  height: 21px;
  width: 400px;
  line-height: 21px;
  display: inline-block;
  max-width: 110%;
}
.searech11 {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-lg) var(--padding-xs)
    var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.search35 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.button47,
.search33 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button47 {
  height: 45px;
  border-radius: 0 var(--br-7xs) var(--br-7xs) 0;
  background-color: var(--branding-success);
  justify-content: center;
  padding: var(--padding-sm) var(--padding-5xl);
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-white);
}
.search33 {
  position: absolute;
  top: 24px;
  left: 711px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--gray-scale-gray-100);
  justify-content: flex-start;
  row-gap: 20px;
  max-width: 100%;
  font-size: var(--font-size-mini);
  color: var(--gray-scale-gray-500);
}
.devider23,
.heart-icon11 {
  height: 32px;
  width: 32px;
  position: relative;
}
.devider23 {
  height: 25px;
  width: 1px;
  border-right: 1px solid var(--gray-scale-gray-200);
  box-sizing: border-box;
}
.bag-icon11 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bag-icon11,
.div43,
.no11 {
  position: absolute;
}
.div43 {
  top: calc(50% - 5.5px);
  left: calc(50% - 3px);
  line-height: 10px;
  font-weight: 500;
}
.no11 {
  top: -3px;
  left: 17px;
  border-radius: var(--br-base);
  background-color: var(--branding-success-dark);
  border: 1px solid var(--gray-scale-white);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.cart20 {
  height: 34px;
  width: 34px;
  position: relative;
}
.shopping-cart11 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.div44 {
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 100%;
  font-weight: 500;
  color: var(--gray-scale-gray-900);
  white-space: nowrap;
}
.icons11,
.info11,
.shopping-card11 {
  display: flex;
  justify-content: flex-start;
}
.info11 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--gray-scale-gray-700);
}
.icons11,
.shopping-card11 {
  flex-direction: row;
  align-items: center;
}
.shopping-card11 {
  flex: 1;
  gap: var(--gap-xs);
}
.icons11 {
  position: absolute;
  top: 29.5px;
  left: 1429px;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--gray-scale-white);
}
.midle11 {
  width: 1920px;
  height: 93px;
  position: relative;
  box-shadow: 0-1px 0#e6e6e6 inset;
  background-color: var(--gray-scale-white);
  display: none;
  max-width: 100%;
  font-size: var(--heading-05-heading-05-600-size);
  color: var(--gren-gray-scale-900);
}
.home111 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.chevron-down-icon67 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.nav-links91 {
  color: var(--branding-success);
}
.nav-links91,
.nav-links92 {
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.chevron-down-icon71 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  display: none;
}
.nav-links90 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.phonecall-1-icon11 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div45 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.call-now11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--gray-scale-gray-900);
}
.nav-links89,
.navigation11 {
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.nav-links89 {
  width: 1920px;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-281xl);
  gap: var(--gap-xl);
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-600);
}
.navigation11 {
  align-self: stretch;
  background-color: var(--gray-scale-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  text-align: left;
  font-size: var(--body-tiny-body-tiny-400-size);
  color: var(--gray-scale-gray-300);
  font-family: var(--body-small-body-small-400);
}
.home-1-1-icon11 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.group-icon36,
.home-1-1-icon11,
.home117 {
  position: relative;
  display: none;
}
.group-icon36 {
  height: 8.2px;
  width: 4.1px;
  object-fit: contain;
}
.home117 {
  align-self: stretch;
  width: 48px;
  line-height: 150%;
}
.vector-icon47 {
  height: 8.2px;
  width: 4.1px;
  position: relative;
  object-fit: contain;
}
.home120,
.vegetables11 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  color: var(--gray-scale-gray-400);
}
.vegetables11 {
  color: var(--branding-success);
}
.location11 {
  position: absolute;
  top: calc(50% - 12px);
  left: 300px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.breadcrumbs11 {
  align-self: stretch;
  height: 136px;
  position: relative;
  background-image: url(./public/breadcrumbs4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.navigation-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 44px;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-medium-body-medium-500-size);
  color: var(--gray-scale-gray-500);
  font-family: var(--body-small-body-small-400);
}
.sign-up13 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 123px;
  white-space: nowrap;
}
.sign-up12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.normal9 {
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 17px;
  font-weight: 600;
  font-family: var(--body-small-body-small-400);
  color: var(--gray-scale-white);
  text-align: left;
}
.button48 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl);
  background-color: var(--branding-success);
  align-self: stretch;
  border-radius: var(--br-24xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.button48:hover {
  background-color: var(--color-limegreen-100);
}
.normal10 {
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 17px;
  font-weight: 600;
  font-family: var(--body-small-body-small-400);
  color: var(--gray-scale-white);
  text-align: left;
  display: inline-block;
  min-width: 119px;
}
.login2 {
  align-self: stretch;
  height: 306px;
  box-shadow: 0 0 56px rgba(0, 38, 3, 0.08);
  border-radius: var(--br-5xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray-50);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-4xl);
  gap: var(--gap-xl);
  flex-shrink: 0;
}
.subscribe-our-newsletter-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.subcribe-our-newsletter9 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.pellentesque-eu-nibh9 {
  align-self: stretch;
  height: 42px;
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 150%;
  color: var(--gray-scale-gray-400);
  display: inline-block;
}
.subcribe-our-newsletter-parent6 {
  position: absolute;
  height: 50.62%;
  width: 23.33%;
  top: 24.69%;
  right: 61.04%;
  bottom: 24.69%;
  left: 15.63%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.your-email-address9 {
  height: 24px;
  width: 400px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  max-width: calc(100% - 0px);
}
.input-field30 {
  position: absolute;
  height: 100%;
  width: 91.79%;
  top: 0;
  right: 8.21%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-27xl);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  white-space: nowrap;
  max-width: 100%;
}
.subscribe19 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.button50 {
  position: absolute;
  height: 100%;
  width: 30.22%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 69.78%;
  border-radius: var(--br-24xl);
  background-color: var(--branding-success);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-21xl);
  box-sizing: border-box;
  color: var(--gray-scale-white);
}
.subscribe18 {
  position: absolute;
  height: 32.1%;
  width: 27.92%;
  top: 33.95%;
  right: 27.29%;
  bottom: 33.95%;
  left: 44.79%;
  max-width: 100%;
  font-size: var(--body-medium-body-medium-500-size);
  color: var(--gray-scale-gray-500);
}
.social-media-icon40,
.social-media-icon41 {
  height: 40px;
  width: 40px;
  position: relative;
  min-height: 40px;
}
.social-media-icon41 {
  border-radius: var(--br-481xl);
}
.social-media-parent7 {
  position: absolute;
  height: 24.69%;
  width: 9.58%;
  top: 37.65%;
  right: 15.63%;
  bottom: 37.65%;
  left: 74.79%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.subscribe-our-newsletter9 {
  height: 162px;
  width: 1920px;
  position: relative;
  display: none;
  max-width: 100%;
}
.ecobazar23 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 38px;
  font-weight: 500;
  font-family: inherit;
}
.logo23 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--heading-05-heading-05-600-size);
}
.morbi-cursus-porttitor9 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  color: var(--gray-scale-gray-500);
}
.proxygmailcom-state {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 103px;
}
.button51 {
  box-shadow: 0 1.5px 0#20b526;
  background-color: var(--gray-scale-gray-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) 0;
  white-space: nowrap;
}
.or9 {
  position: relative;
  font-size: var(--body-medium-body-medium-500-size);
  line-height: 150%;
  color: var(--gray-scale-gray-500);
  display: inline-block;
  min-width: 17px;
}
.button52,
.company9,
.cta9 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button52 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--gray-scale-gray-900);
  height: 33px;
  flex: 1;
  box-shadow: 0 1.5px 0#20b526;
  justify-content: center;
  padding: var(--padding-7xs) 0;
  box-sizing: border-box;
  font-family: var(--body-small-body-small-400);
  font-weight: 500;
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-white);
  min-width: 77px;
}
.company9,
.cta9 {
  width: 281px;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.company9 {
  width: 336px;
  flex-direction: column;
  align-items: flex-start;
  max-width: calc(100% - 20px);
  font-size: var(--body-small-body-small-400-size);
}
.my-account28,
.my-account29 {
  position: relative;
  line-height: 150%;
}
.my-account28 {
  align-self: stretch;
  width: 0;
  font-weight: 500;
  display: inline-block;
}
.my-account29 {
  white-space: nowrap;
}
.shoping-cart9 {
  color: var(--gray-scale-white);
  white-space: nowrap;
}
.shoping-cart9,
.wishlist9 {
  position: relative;
  line-height: 150%;
}
.account-info,
.links50,
.my-account27 {
  align-items: flex-start;
  justify-content: flex-start;
}
.links50 {
  display: none;
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-400);
}
.account-info,
.my-account27 {
  width: 0;
  display: flex;
}
.my-account27 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xl);
}
.account-info {
  height: 92px;
  flex-direction: column;
  padding: var(--padding-49xl) 0 0;
  box-sizing: border-box;
}
.helps9,
.terms-condition9 {
  position: relative;
  line-height: 150%;
}
.helps9 {
  height: 24px;
  font-weight: 500;
  display: inline-block;
}
.terms-condition9 {
  align-self: stretch;
}
.links51 {
  width: 130px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-xs);
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-400);
}
.help9,
.links51,
.links52 {
  flex-direction: column;
  justify-content: flex-start;
}
.help9 {
  display: none;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.links52 {
  width: 82px;
  gap: var(--gap-xs);
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-400);
}
.fotter9,
.links52,
.links53 {
  display: flex;
  align-items: flex-start;
}
.links53 {
  width: 128px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-400);
}
.fotter9 {
  width: 495.5px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.methodapplepay-icon9 {
  align-self: stretch;
  width: 45px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 32px;
}
.base9 {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 32.5px);
  border-radius: 5.29px;
  background-color: var(--gray-scale-gray-900);
  border: 1px solid var(--gray-scale-gray-800);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.lock-1-icon9 {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.payment9,
.secure9 {
  position: absolute;
  top: 4px;
  left: 18px;
  line-height: 100%;
}
.payment9 {
  top: 16px;
  left: 0;
  font-size: var(--body-tiny-body-tiny-400-size);
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 65px;
}
.cart21 {
  height: 32px;
  width: 65px;
  position: relative;
}
.methodapplepay-parent6 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-2xs);
  color: var(--gray-scale-white);
}
.copyright9,
.footer19 {
  background-color: var(--gray-scale-gray-900);
}
.copyright9 {
  align-self: stretch;
  box-shadow: 0-1px 0#333;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-xl);
  gap: var(--gap-192xl-5);
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-500);
}
.footer19 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-41xl) var(--padding-281xl) 0;
  box-sizing: border-box;
  gap: var(--gap-41xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-medium-body-medium-500-size);
  color: var(--gray-scale-white);
  font-family: var(--body-small-body-small-400);
}
.desktop-1,
.footer18,
.footer19,
.login-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer18 {
  margin-left: -672px;
  width: 1920px;
  flex-direction: row;
  padding: 0 0 28px;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 370%;
  font-size: var(--body-xxl-body-xxl-600-size);
}
.desktop-1,
.login-parent {
  max-width: 100%;
  flex-direction: column;
}
.login-parent {
  align-self: stretch;
  height: 666px;
  padding: 0 460px 360px;
  box-sizing: border-box;
  gap: var(--gap-16xl);
  text-align: left;
  font-size: var(--heading-05-heading-05-600-size);
  color: var(--gray-scale-gray-900);
  font-family: var(--body-small-body-small-400);
}
.desktop-1 {
  width: 1440px;
  background-color: var(--gray-scale-white);
  overflow: hidden;
  gap: 130px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .nav-links89 {
    flex-wrap: wrap;
  }
  .footer19,
  .login-parent {
    padding-left: var(--padding-131xl);
    padding-right: var(--padding-131xl);
    box-sizing: border-box;
  }
  .login-parent {
    padding-left: var(--padding-211xl);
    padding-right: var(--padding-211xl);
  }
}
@media screen and (max-width: 1100px) {
  .small-one11 {
    padding-left: var(--padding-131xl);
    padding-right: var(--padding-131xl);
    box-sizing: border-box;
  }
  .nav-links90,
  .small-one11 {
    flex-wrap: wrap;
  }
  .login-parent {
    padding-bottom: 234px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .small-one11 {
    padding-left: var(--padding-56xl);
    padding-right: var(--padding-56xl);
    box-sizing: border-box;
  }
  .ecobazar22 {
    font-size: var(--font-size-7xl);
    line-height: 30px;
  }
  .search33 {
    flex-wrap: wrap;
  }
  .midle11 {
    height: auto;
    min-height: 93;
  }
  .navigation-container {
    gap: 22px;
  }
  .ecobazar23,
  .sign-up13 {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
  .ecobazar23 {
    line-height: 30px;
  }
  .footer19,
  .login-parent {
    gap: var(--gap-11xl);
    padding-left: var(--padding-56xl);
    padding-right: var(--padding-56xl);
    box-sizing: border-box;
  }
  .login-parent {
    gap: var(--gap-mid);
    padding-left: var(--padding-96xl);
    padding-right: var(--padding-96xl);
  }
  .desktop-1 {
    gap: 65px;
  }
}
@media screen and (max-width: 450px) {
  .ecobazar22,
  .sign-up13 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .ecobazar23,
  .subcribe-our-newsletter9 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .ecobazar23 {
    line-height: 23px;
  }
  .methodapplepay-parent6 {
    flex-wrap: wrap;
  }
  .copyright9 {
    gap: var(--gap-87xl);
  }
  .footer19,
  .login-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .footer19 {
    gap: var(--gap-mini);
    padding-top: var(--padding-20xl);
  }
  .login-parent {
    height: auto;
    padding-bottom: 152px;
  }
  .desktop-1 {
    gap: var(--gap-13xl);
  }
}
